/* General*/

body{
   background-color: rgba(235, 205, 166, 0.452);
}



/* HOME */ 

.imgLiga{
   display: grid;
   grid-template-columns: 2fr 1fr;
   background-color: black;
}

.imgLiga img{
   align-items: center;
   width: 60%;
   margin-left: 10%;
}
.imgLiga .fb-page{
   margin-top: 10px;
}
/* HOME - Equipos Españoles*/

.tituloespania{
   text-align: center;
   margin-top: 30px;
}

.equiposEspania2{
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(150px, auto);
    margin-top: 50px;
    margin-left: 40px;
}

.imgEquipos{
   height: 70px;
}


/* Clasificación */
.titulo{
   text-align: center;
   margin-top: 40px;
   margin-bottom: 40px;
   font-size: 20px;
   font-weight: 600;
   color: rgb(19, 19, 24);
   text-decoration: underline overline;
}

.leyenda{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: auto;
   text-align:center;
   width: 25%;
   font-size: 13px;
}


.imgLocal,
.imgVisitante{
   height: 40px;
}
main .carousel{
   width: 50%;
   margin-left: 25%;
   margin-top: 5px;
}


